body {
	background: rgb(217,227,237); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZTNlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(217,227,237,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,227,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e3ed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	background-attachment: fixed;
}

#head {
	margin-bottom: 100px;

}

#content {
	padding-bottom: 100px;
}

	.questionbox {
		padding: 10px;
		margin-bottom: 30px;
		background: #fff;
	}

	p.question {
		margin: 0px;
		padding-top: 5px;
		font-size: 18px;
		color: #444;
		text-align: right;
	}

		p.question strong {
			color: #000;
		}

	#questions .btn-default {
		color: #888;
	}

	#questions .answer {
		vertical-align: top;
	}

		#questions .answer label {
			width: 64px;
		}

			#questions .answer label.active {
				color: #333;
				background-color: #ddd;
				border-color: #aaa;
			}

	#questions .important {
		display: inline-block;
		margin-left: 10px;
	}

		#questions .important label {
			padding: 6px 8px 6px 10px;
		}

			#questions .important label.active {
				color: #333;
				background-color: #ddd;
				border-color: #aaa;
			}

	#questions .markerwrapper {
		width: 192px;
		height: 8px;
		margin-top: 4px;
		margin-bottom: -6px;
	}

		#questions .markers {
			width: 64px;
			float: left;
		}

			#questions .marker {
				opacity: 1;

				-webkit-transition: opacity 0.5s ease-in;
				   -moz-transition: opacity 0.5s ease-in;
				    -ms-transition: opacity 0.5s ease-in;
				     -o-transition: opacity 0.5s ease-in;
				        transition: opacity 0.5s ease-in;
			}

.markers {
	height: 8px;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.marker {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	border: 2px solid #fff;
	display: inline-block;
	vertical-align: top;
}

#chartwrapper {
	position: fixed;
	bottom: 0;
	left: -50px;
	right: -50px;
	height: 230px;
	z-index: 100;

	overflow-x: scroll; 

	background: #c4d2e1;

	border-left: 50px solid #c4d2e1;
	border-right: 50px solid #c4d2e1;

	box-shadow: 0px -5px 20px rgba(0,0,0,0.3);

	-webkit-transition: bottom 0.5s ease-out;
	   -moz-transition: bottom 0.5s ease-out;
	    -ms-transition: bottom 0.5s ease-out;
	     -o-transition: bottom 0.5s ease-out;
	        transition: bottom 0.5s ease-out;
}

	#chart {
		position: relative;
		margin-left: 300px;
	}

		.partei {
			height: 210px;
			width: 44px;
			top: 10px;
			position: absolute;
			background: #fff;
			border: 1px solid #97a3af;
			cursor: pointer;

			-webkit-transition: left 0.5s ease-in-out;
			   -moz-transition: left 0.5s ease-in-out;
			    -ms-transition: left 0.5s ease-in-out;
			     -o-transition: left 0.5s ease-in-out;
			        transition: left 0.5s ease-in-out;
		}

			.partei .markers {
				width: 42px;
				top: 5px;
				position: absolute;
				display: none;
			}


			.barborder {
				position: absolute;
				top: 18px;
				left: 10px;
				width: 22px;
				bottom: 42px;
				background: #d9e3ed;
			}

				.barinner {
					position: absolute;
					left: 0px;
					bottom: 0px;
					width: 100%;
					background: #facb94;
					border-top: 1px solid #fff;

					-webkit-transition: height 0.5s ease-in-out;
					   -moz-transition: height 0.5s ease-in-out;
					    -ms-transition: height 0.5s ease-in-out;
					     -o-transition: height 0.5s ease-in-out;
					        transition: height 0.5s ease-in-out;
				}


			.title {
				position: absolute;
				left: 22px;
				bottom: 40px;
				color: rgba(0,0,0,0);
				font-size: 12px;
				white-space: nowrap;

				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);

				-webkit-transform-origin: 0% 50%;
				   -moz-transform-origin: 0% 50%;
				    -ms-transform-origin: 0% 50%;
				     -o-transform-origin: 0% 50%;
				        transform-origin: 0% 50%;

				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			}

			.icon {
				position: absolute;
				left: 5px;
				bottom: 5px;
				width: 32px;
				height: 32px;
				background-position: -100px;
				background-repeat: no-repeat;
			}

.partei.marked .barinner {
	background: #f49e31;
}

.partei.marked .markers {
	display: block;
}

.partei:hover .title, .partei.marked .title {
	color: rgba(0,0,0,0.6);
}

.partei:hover .icon, .partei.marked .icon {
	background-position: 0
}

.partei:hover .icon img, .partei.marked .icon img {
	opacity: 0
}

.hideresult #chartwrapper {
	bottom: -230px;
}

.hideresult #questions .marker {
	opacity: 0;
}
