body {
	background: rgb(217,227,237); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZTNlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(217,227,237,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,227,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(217,227,237,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e3ed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	background-attachment: fixed;
}

#header {
	margin: 0px 0px 200px 0px;
	padding: 20px;
}

#head {
	margin-bottom: 10px;
	padding: 25px 0px 20px 0px;
	/*
		 von HSB: 210 50 90
		nach HSB: 220 60 80
	*/
	background: rgb(115,172,229); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5YzMzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMzlkMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(115,172,229,1) 0%, rgba(82,122,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(115,172,229,1)), color-stop(100%,rgba(82,122,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(115,172,229,1) 0%,rgba(82,122,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(115,172,229,1) 0%,rgba(82,122,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(115,172,229,1) 0%,rgba(82,122,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(115,172,229,1) 0%,rgba(82,122,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73ace5', endColorstr='#527acc',GradientType=0 ); /* IE6-8 */
}

	#head h1 {
		color: #fff;
		font-weight: bold;
		margin-top: 0px;
	}

	#head h2 {
		margin-top: 0px;
		font-size: 22px;
	}

	#head .text {
		margin-top: 10px;
	}

#social {
	margin-bottom: 100px;
	text-align: right;
	padding-right: 10px;
}

	#social img {
		width: 30px;
		height: 30px;
		border-radius: 4px;
	}
	
	#social a {
		text-decoration: none;
	}

#content {
	padding-bottom: 330px;
}

	.hideresult #content {
		padding-bottom: 100px;
}

	.questionbox {
		padding: 10px;
		margin-bottom: 30px;
		background: #fff;
	}

	p.question {
		margin: 0px;
		padding-top: 5px;
		font-size: 18px;
		color: #444;
		text-align: right;
	}

		p.question strong {
			color: #000;
		}

	#questions .btn-default {
		color: #888;
	}

	#questions .answer {
		vertical-align: top;
	}

		#questions .answer label {
			width: 64px;
		}

			#questions .answer label.active {
				color: #333;
				background-color: #ddd;
				border-color: #aaa;
			}

	#questions .important {
		display: inline-block;
		margin-left: 10px;
	}

		#questions .important label {
			padding: 6px 8px 6px 10px;
		}

			#questions .important label.active {
				color: #333;
				background-color: #ddd;
				border-color: #aaa;
			}

	#questions .markerwrapper {
		width: 192px;
		height: 8px;
		margin-top: 4px;
		margin-bottom: -6px;
	}

		#questions .markers {
			width: 64px;
			float: left;
		}

			#questions .marker {
				opacity: 1;

				-webkit-transition: opacity 0.5s ease-in;
				   -moz-transition: opacity 0.5s ease-in;
				    -ms-transition: opacity 0.5s ease-in;
				     -o-transition: opacity 0.5s ease-in;
				        transition: opacity 0.5s ease-in;
			}

.markers {
	height: 8px;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.marker {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	border: 2px solid #fff;
	display: inline-block;
	vertical-align: top;
}

#chartwrapper {
	position: fixed;
	bottom: 0;
	left: 0px;
	right: 0px;
	height: 265px;
	z-index: 100;

	background: #c4d2e1;

	box-shadow: 0px -5px 20px rgba(0,0,0,0.3);

	-webkit-transition: bottom 0.5s ease-out;
	   -moz-transition: bottom 0.5s ease-out;
	    -ms-transition: bottom 0.5s ease-out;
	     -o-transition: bottom 0.5s ease-out;
	        transition: bottom 0.5s ease-out;
}

	#chartwrapper .help {
		top: 10px;
		left: 10px;
		right: 10px;
		position: absolute;
		text-align: center;
		font-size: 12px;
	}

	#chartscroller {
		left: 0px;
		bottom: 0px;
		right: 0px;
		height: 230px;
		position:absolute;

		overflow-x: scroll; 
		overflow-y: hidden;
	}

	#chart {
		position: relative;
		margin: auto;

		-webkit-transition: width 0.5s ease-in-out;
		   -moz-transition: width 0.5s ease-in-out;
		    -ms-transition: width 0.5s ease-in-out;
		     -o-transition: width 0.5s ease-in-out;
		        transition: width 0.5s ease-in-out;
	}

		.partei {
			height: 156px;
			width: 18px;
			top: 25px;
			position: absolute;
			background: #fff;
			border: 1px solid rgba(151, 163, 175, 0.7);
			cursor: pointer;
			overflow: hidden;

			-webkit-transition-duration: 0.5s;
			   -moz-transition-duration: 0.5s;
			    -ms-transition-duration: 0.5s;
			     -o-transition-duration: 0.5s;
			        transition-duration: 0.5s;

			-webkit-transition-timing-function: ease-in-out;
			   -moz-transition-timing-function: ease-in-out;
			    -ms-transition-timing-function: ease-in-out;
			     -o-transition-timing-function: ease-in-out;
			        transition-timing-function: ease-in-out;

			-webkit-transition-property: left, top, height, width, border-color;
			   -moz-transition-property: left, top, height, width, border-color;
			    -ms-transition-property: left, top, height, width, border-color;
			     -o-transition-property: left, top, height, width, border-color;
			        transition-property: left, top, height, width, border-color;
		}

			.partei .markers {
				width: 42px;
				top: -10px;
				left: -13px;
				position: absolute;

				-webkit-transition-duration: 0.5s;
				   -moz-transition-duration: 0.5s;
				    -ms-transition-duration: 0.5s;
				     -o-transition-duration: 0.5s;
				        transition-duration: 0.5s;

				-webkit-transition-timing-function: ease-in-out;
				   -moz-transition-timing-function: ease-in-out;
				    -ms-transition-timing-function: ease-in-out;
				     -o-transition-timing-function: ease-in-out;
				        transition-timing-function: ease-in-out;

				-webkit-transition-property: top, left;
				   -moz-transition-property: top, left;
				    -ms-transition-property: top, left;
				     -o-transition-property: top, left;
				        transition-property: top, left;
			}


			.barborder {
				position: absolute;
				top: 3px;
				left: 3px;
				width: 10px;
				bottom: 3px;
				background: #b8cfe5;

				-webkit-transition-duration: 0.5s;
				   -moz-transition-duration: 0.5s;
				    -ms-transition-duration: 0.5s;
				     -o-transition-duration: 0.5s;
				        transition-duration: 0.5s;

				-webkit-transition-timing-function: ease-in-out;
				   -moz-transition-timing-function: ease-in-out;
				    -ms-transition-timing-function: ease-in-out;
				     -o-transition-timing-function: ease-in-out;
				        transition-timing-function: ease-in-out;

				-webkit-transition-property: left, top, bottom, width;
				   -moz-transition-property: left, top, bottom, width;
				    -ms-transition-property: left, top, bottom, width;
				     -o-transition-property: left, top, bottom, width;
				        transition-property: left, top, bottom, width;
			}

				.barinner {
					position: absolute;
					left: 0px;
					bottom: 0px;
					width: 100%;
					background: #8ab8e5;
					border-top: 1px solid #fff;

					-webkit-transition: height 0.5s ease-in-out;
					   -moz-transition: height 0.5s ease-in-out;
					    -ms-transition: height 0.5s ease-in-out;
					     -o-transition: height 0.5s ease-in-out;
					        transition: height 0.5s ease-in-out;
				}


			.title {
				position: absolute;
				left: 9px;
				bottom: -2px;
				color: rgba(0,0,0,0);
				font-size: 12px;
				white-space: nowrap;

				-webkit-transition-duration: 0.5s;
				   -moz-transition-duration: 0.5s;
				    -ms-transition-duration: 0.5s;
				     -o-transition-duration: 0.5s;
				        transition-duration: 0.5s;

				-webkit-transition-timing-function: ease-in-out;
				   -moz-transition-timing-function: ease-in-out;
				    -ms-transition-timing-function: ease-in-out;
				     -o-transition-timing-function: ease-in-out;
				        transition-timing-function: ease-in-out;

				-webkit-transition-property: left, bottom;
				   -moz-transition-property: left, bottom;
				    -ms-transition-property: left, bottom;
				     -o-transition-property: left, bottom;
				        transition-property: left, bottom;

				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);

				-webkit-transform-origin: 0% 50%;
				   -moz-transform-origin: 0% 50%;
				    -ms-transform-origin: 0% 50%;
				     -o-transform-origin: 0% 50%;
				        transform-origin: 0% 50%;

				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			}

			.icon {
				position: absolute;
				left: -8px;
				bottom: -34px;
				width: 32px;
				height: 32px;
				background-position: -100px;
				background-repeat: no-repeat;

				-webkit-transition-duration: 0.5s;
				   -moz-transition-duration: 0.5s;
				    -ms-transition-duration: 0.5s;
				     -o-transition-duration: 0.5s;
				        transition-duration: 0.5s;

				-webkit-transition-timing-function: ease-in-out;
				   -moz-transition-timing-function: ease-in-out;
				    -ms-transition-timing-function: ease-in-out;
				     -o-transition-timing-function: ease-in-out;
				        transition-timing-function: ease-in-out;

				-webkit-transition-property: left, bottom;
				   -moz-transition-property: left, bottom;
				    -ms-transition-property: left, bottom;
				     -o-transition-property: left, bottom;
				        transition-property: left, bottom;
			}

.partei.marked {
	width: 44px;
	top: 10px;
	height: 210px;
	border: 1px solid rgba(151, 163, 175, 1);
}

.partei.marked .barborder {
	left: 10px;
	top: 18px;
	width: 22px;
	bottom: 42px;
}

.partei.marked .barinner {
	background: #2e8ae5;
}

.partei.marked .markers {
	top: 5px;
	left: 0px;
}

.partei.marked .icon {
	left: 5px;
	bottom: 5px;
}

.partei.marked .title {
	color: rgba(0,0,0,0.6);
	left: 22px;
	bottom: 40px;
}

.partei:hover .title {
	color: rgba(0,0,0,0.6);
}

.partei.marked:hover .title {
	color: rgba(0,0,0,0.6);
}

.hideresult #chartwrapper {
	bottom: -250px;
}

.hideresult #questions .marker {
	opacity: 0;
}

#blockshow {
	display: none;
}

.hideresult #blockshow {
	display: block;
}

.hideresult #blockreset {
	display: none;
}